@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

body, html {
	background-image: url('.././img/buscador/fundo-1920.png');
	background-size: cover;
	background-position: center;
}

main {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

aside p a {
    color: #fafafa;
    text-decoration: none;
    font-weight: bolder;
}

.search-frame {
	width: 275px;
	display: flex;
	flex-direction: column;
	align-items: justify;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 10px;
	padding: 10px 20px;
}

.title {
	font-size: 36px;
	text-align: center;
	color: rgba(92, 163, 238, 0.5);
}

#CEP {
	margin: 30px 0;
	background: transparent;
	border: 2px solid rgba(92, 163, 238, 0.5);
	outline: none;
	border-radius: 40px;
	font-size: 16px;
	color: #183f69;
	padding: 20px 45px 20px 20px;
}

#CEP::placeholder {
	color: #5ca3ee;
}

.btn-search {
	width: 100%;
	height: 45px;
	background: rgba(92, 163, 238, 0.5);
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #fafafa;
	font-weight: 600;
}

.search-frame > p {
	color: #5ca3ee;
	text-align: center;
	margin-top: 20px;
}

.mt-5 > h1 {
	color: #fafafa;
	text-align: center;
}

aside {
	margin: auto;
	text-align: justify;
	color: #fafafa;
	width: 80vw;
}