@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*
	Paleta de cores:
	Primária: Azul, #5ca3ee, #183f69
	Secundária: Cinza, #fafafa e #c0c9d237
	Terciária: Verde, #28a745
	Quartenária: Amarelo, #ffc107
*/

* {
	font-family: "Poppins", sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(.././img/calc/fundo-1920.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {

}

.calculator {
	border-radius: 12.5px;
	padding: 10px;
	background: transparent;
	border: 2px solid #ffffff33;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);	text-align: center;
	margin: auto;
}

#display {
    width: 100%;
	height: 10%;
    margin-bottom: 10px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fafafa;
	font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
	padding: 20px 45px 20px 20px;
}

.botoes-calc {
    height: 85%;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
	padding: 0;
	border-radius: 10px;
}

.botao-calc {
	border-radius: 15px;
	height: 90%;
    font-family: 'IBM Plex Mono', monospace;
	font-size: 1.25rem;
	border: none;
	background-color: #5ca3ee;
	color: #fafafa;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-weight: bold;
	cursor: pointer;
	font-weight: 600;
}

#botaozero {
	grid-column: span 2;
}