/* Estilos base para mobile first */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


body {
	font-family: "Poppins", sans-serif !important;
    color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url('../img/carrinho/textura-da-parede-do-grunge.jpg');
    /* background-color: #f4f4f4; */
}

header {
	background-color: #3131b4;
}

h1, h2 {
    text-align: center;
    color: #f4f4f4;
}

.page-title {
    margin-top: 7.5rem;
}

.product, #cart {
    background: transparent;
    backdrop-filter: blur(5px);
}

.store {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    padding: 20px;
    border: 0.25px solid #3131b4;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3131b4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6262b6;
}

#cart {
    padding: 20px;
    border: 1px solid #3131b4;
    border-radius: 4px;
    margin-top: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

.total-text, .price {
    font-weight: bolder;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.quantity-controls span {
    margin: 0 10px;
    font-size: 16px;
}

/* footer {
	background-color: #3131b4;
	border-top: 1px solid #FFFFCC;
} */

/* Estilos para dispositivos maiores */
@media (min-width: 600px) {
    .store {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product {
        width: 45%;
    }

    #cart {
        width: 80%;
        margin: 20px auto 0;
    }
}

@media (min-width: 900px) {
    .store {
        justify-content: space-between;
    }

    .product {
        width: 30%;
    }

    #cart {
        width: 60%;
    }
}