@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
	color: #fafafa;
}

body {
	background: url('.././img/conversor/fundo-novo-1920.jpg');
	background-position: center;
	background-size: cover;
}

.mt-5 > h1 {
	text-align: center;
}

main.container {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
}

.container div {
    display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background: transparent;
	backdrop-filter: blur(20px);
	border: 2px solid #ffffff33;
	border-radius: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container div:not(.last-div) {
	    margin-bottom: 0.5rem;
}

input[type="number"] {
    width: 35vw;
	background: transparent;
	outline: none;
	border: 0.1rem solid rgba(255, 255, 255, .2);
	font-size: 1rem;
	border-radius: 2rem;
    margin-bottom: 0.5rem;
	padding: 0rem 0.5rem 0rem 0.5rem;
	color: #fafafa;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; /* Safari e Chrome */
    margin: 0; /* Remove a margem padrão */
}

input[type=number]::placeholder {
	color: rgba(250, 250, 250, 0.6);
}

select {
	border-radius: 2rem;
	background-color: rgba(250, 250, 250, 0.6);
	width: 35vw;
	margin-bottom: 10px;
	color: black;
}

select option {
	color: black;
}

.btn {
    padding: 0.5rem 1rem;
	outline: none;
	border-radius: 40px;
    background-color: #4c9aed;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #3986de;
}

aside {
	margin: auto;
	text-align: justify;
	color: #fafafa;
	width: 80vw;
}

aside p a {
    color: #fafafa;
    text-decoration: none;
    font-weight: bolder;
}