@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url();

body {
    background: #13131F;
}

h1, h2 {
    color: #F9F9F9;
    font-family: "Poppins";
}

.navbar {
    border-bottom: 1px solid #4169E1;
}

.name {
    color: #4169E1;
}

p {
    text-align: center;
    color: #828282;
    font-family: 'Poppins', sans-serif;
    text-indent: 2rem;
}

.col-md-6 {
    width: 100%;
    display: flex;
    align-items: row;
    justify-content: space-around;
    padding: 10rem 2.5rem;
}

.title-container {
    font-size: 2.625rem;

}

.title-container > h2 {
    color: #666f78;
    font-size: 1.25rem;

}

/* Adicione isso ao seu arquivo CSS personalizado ou ao seu arquivo de estilos */
.circle-img-container {
    position: relative;
    overflow: hidden;
    width: 150px;
    /* Ajuste o tamanho conforme necessário */
    height: 150px;
    /* Ajuste o tamanho conforme necessário */
    border-radius: 50%;
    /* Torna a imagem circular */
}

.circle-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave */
}

.circle-img:hover {
    transform: scale(1.1);
    /* Aplica um zoom de 10% na imagem ao passar o mouse por cima */
}

.stack {
    align-items: center;
    gap: 24px;
}

.icon-block {
    opacity: 0.5;
    /* Define a opacidade inicial */
    transition: opacity 0.3s, transform 0.3s ease;
    /* Adiciona transição de opacidade e transformação */
}

.icon-block:hover {
    opacity: 1;
    /* Aumenta a opacidade quando o mouse passa por cima */
    transform: scale(1.1);
    /* Aplica o efeito de zoom */
}

.banner {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.contact {
    margin-bottom: 30px;
}

.contact-icons {
    margin-top: 20px;
}

.contact-icons a {
    margin: 0 10px;
}

.contact-icons i {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.contact-icons i:hover {
    transform: scale(1.2);
}

.d-block {
    border-radius: 25px;
}

.carousel-item {
    text-align: center;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 10px;
}

.bg-light  {
    background-color: #4169E1;
}