@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
	background-color: #3131b4;
	font-family: "Poppins", sans-serif;
}

.my-name {
	font-weight: bolder;
}

.portfolio-title {
	color: #3131b4;
}

#about {
	color: #828282;
}

.box-shadow-full {
	border-radius: 20px;
}

header {
	background-color: #3131b4;
}

#work {
	background-image: url(/assets/img/wallhaven-76xx9e.jpg);
	background-size: cover;
	background-position: center;
}

.line-mf {
	background-color: #3131b4;
}

.title-left, .title-s {
	color: #3131b4;
}

.title-left::before {
	background-color: #3131b4;

}

.skill-mf>.progress>.progress-bar {
	background-color: #3131b4;
}

.skill-mf>.progress {
	background-color: #84bfbf;
}

.email-link, .link-wpp {
	color: #828282;
}

.socials {
	text-align: center;
}

.overlay-mf {
	background-color: #3131b4;
}

footer {
	background-color: #3131b4;
}

.stacks-container {
	display: flex;
	flex-direction: row;
	gap: 24px;
	flex-wrap: wrap
}

.stack-name {
	text-align: center;
	color: #3131b4;
}

.stack-info {
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s ease;
}

.stack-info:hover {
	opacity: 1;
    transform: scale(1.1);
}

.ico-circle {
	display: flex;
	align-items: center;
	justify-content: center;
}