@charset "UTF-8";

p {
	text-align: justify;
}

.col-md-6 {
    width: 100%;
}

.col-md-6 > h2 {
    color: #666f78;
}

/* Adicione isso ao seu arquivo CSS personalizado ou ao seu arquivo de estilos */
.circle-img-container {
    position: relative;
    overflow: hidden;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Torna a imagem circular */
}

.circle-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.circle-img:hover {
    transform: scale(1.1); /* Aplica um zoom de 10% na imagem ao passar o mouse por cima */
}

.stack {
    align-items: center;
    gap: 24px;
}

.icon-block {
    opacity: 0.5; /* Define a opacidade inicial */
    transition: opacity 0.3s, transform 0.3s ease; /* Adiciona transição de opacidade e transformação */
}

.icon-block:hover {
    opacity: 1; /* Aumenta a opacidade quando o mouse passa por cima */
    transform: scale(1.1); /* Aplica o efeito de zoom */
}

.banner {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.contact-icons {
    margin-top: 20px;
}

.contact-icons a {
    margin: 0 10px;
}

.contact-icons i {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.contact-icons i:hover {
    transform: scale(1.2);
}