:root {
    --body-bg: #fafafa;
    --body-color: #555;
    --nav-bg: #212529;
}

.dark-mode:root {
    --body-bg: #212529;
    --body-color: #fafafa;
    --nav-bg: #fafafa;
}

body {
    background-color: var(--body-bg);
    color: var(--body-color);
}

.navbar {
    background-color: var(--nav-bg);
}

