@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
}
.video-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	margin-bottom: 20px;
	overflow: hidden;
}
.video-card img {
	width: 100%;
	height: auto;
}
.video-info {
	padding: 10px;
}